* {
  box-sizing: border-box;
}

body {
  overflow-y: hidden;  /* Suppress pull-to-refresh in Chrome for Android */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debug-ui {
  z-index: 1;
}
